.contact-items{
    width: 100%;
    height: 737px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    &>h1{
        font-size: 30px;
        font-weight: 300;
        color: black;
    }
}

.uls{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    &>ul{
        height: 100px;
        display: flex;
        flex-direction: column;
        &>li{
            display: inline;
            color: black;
        }
    }
    &>div{
        color: black;
    }
    &>div>span{
        color: red;
    }
}

form{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-inline: 20px;
    &>input{
        width: 100%;
        height: 50px;
        padding: 10px;
        color: black;
        background-color: white;
    }
    &>textarea{
        padding: 10px;
        width: 100%;
        height: 200px;
        background-color: white;
        color: black;
    }
}

[type = "submit"]{
    width: 200px;
    border-radius: 50px;
    background-color: palevioletred;
    color: white;
    transition: 0.5s;
    border: 0;
    color: rgb(255, 255, 255);
}
[type = "submit"]:hover{
    border: 2px solid palevioletred;
    background-color: white;
    color: palevioletred;
}